body {
    font-family: "Roboto";
    height: 100vh;
}

.u__default_links {
    color: var(--text-dark);
    text-decoration: none;
}

.header {
    letter-spacing: 1px;
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-bottom: var(--border);
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    align-items: center;
}

.header__title {
    color: var(--text-dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 10rem;
}

.header__title:hover {
    color: var(--accent-colour)
}

.header__title-logo {
    margin-inline: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
}

.header__title-text {
    font-weight: 600;
    font-size: 2.5rem;
}

.header__nav {
    color: var(--text-dark);
    height: 100%;
    display: flex;
    width: 20rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 11rem;
}

.header__nav-element {
    color: var(--text-dark);
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    height: 120%;
    font-weight: 600;
    font-size: 1.3rem;
}

.header__nav-element:hover {
    transition: transform 0.2s;
    transform: translateY(-.3rem);
    cursor: pointer;
}

.header__nav-active {
    background-color: var(--accent-colour);
}

.footer {
    color: var(--text-muted);
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.header__nav-toggle-view {
    transition: transform 0.3s;
    width: 2.3rem;
    height: 2.3rem;
    flex-shrink: 0;
}

.header__nav-toggle-view:hover {
    transition: transform 0.2s;
    transform: translateY(-.3rem);
    cursor: pointer;
}

.main {
    display: flex;
    padding: 2rem 1.5rem 3rem 1.5rem;
    align-items: center;
    justify-content: center;
    width: 60rem;
    margin: 0 auto;
    flex-grow: 1;
}